## migration files
[*.cs]
# Don't require properties to be qualified with "this."
dotnet_style_qualification_for_property = false:none
# Allow method-like constructs to have a block body
csharp_style_expression_bodied_methods = true:none
