# top-most EditorConfig file
root = true

[*]
# use tabs for indentation
indent_style = tab

## code files
[*.cs]
insert_final_newline = true
indent_size = 4
charset = utf-8
# Always qualify with "this."
dotnet_style_qualification_for_field = true:error
dotnet_style_qualification_for_property = true:error
dotnet_style_qualification_for_method = true:error
dotnet_style_qualification_for_event = true:error
# Prefer method-like constructs to have an expression-body
csharp_style_expression_bodied_methods = true:error
csharp_style_expression_bodied_constructors = true:error
csharp_style_expression_bodied_operators = true:error
# Prefer property-like constructs to have an expression-body
csharp_style_expression_bodied_properties = true:error
csharp_style_expression_bodied_indexers = true:error
csharp_style_expression_bodied_accessors = true:error